.menu {
  width: 170px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 2rem;
  top: 0;
  left: 0;
  transition: 0.3s linear;
  a {
    font-size: 2rem;
    color: white;
    padding: 2rem 0;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
  }
}
